.bor_one{
    border:1px solid black;
}
.display{
    display: flex;
}

.auto{
    width:60%;
    margin:0 auto;
}
.m_top{
    margin-top:20px;
    color:#262626;
    
}
.size_10{
    font-size:10px
}
.dis_center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.size_30{
    font-size: 30px;
}
.dis_between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search{
    
}